/src/CoronaDataHelper/.vs/CoronaDataHelper/v16/*.suo
/src/CoronaDataHelper/.vs
/src/CoronaDataHelper/CoronaDataHelper/bin
/src/CoronaDataHelper/CoronaDataHelper/obj
/src/CoronaDataHelper/packages
/src/CoronaDataHelper/CoronaDataHelper/CoronaDataHelper.csproj.user
